<div class="home">
  <h1>Home</h1>
  <img src="../../assets/background_images/genshin_inazuma.png" class="home-bg-image">
  <mat-grid-list cols="2" rowHeight="10rem" class="home-grid">

    <mat-grid-tile class="home-grid-item">{{ test[0] }}</mat-grid-tile>
    <mat-grid-tile class="home-grid-item">{{ test[1] }}</mat-grid-tile>
    <mat-grid-tile class="home-grid-item">3</mat-grid-tile>
    <mat-grid-tile class="home-grid-item">4</mat-grid-tile>
    <mat-grid-tile class="home-grid-item">5</mat-grid-tile>
    <mat-grid-tile class="home-grid-item">6</mat-grid-tile>
  </mat-grid-list>
</div>
